RewriteEngine on  
RewriteRule ^mi-dashboard  dashboard-analytics.php [NC,L] 
RewriteRule ^mi-logout  logout.php [NC,L]
RewriteRule ^mi-faqs  faq-new.php [NC,L]
RewriteRule ^faqs-manage  faq-manage.php [NC,L] 
RewriteRule ^faqs-update  faq-update.php [NC,L]
RewriteRule ^faqs-delete  faq-delete.php [NC,L]
RewriteRule ^new-policy  policy-new.php [NC,L]
RewriteRule ^manage-policy  policy-manage.php [NC,L] 
RewriteRule ^mi-policy  policy-update.php [NC,L] 
RewriteRule ^policy-delete  policy-delete.php [NC,L]
RewriteRule ^mi-headers  headers-manage.php [NC,L]
RewriteRule ^headers-update  headers-update.php [NC,L]
RewriteRule ^ch-mi  ch-manage.php [NC,L]
RewriteRule ^ch-update  ch-headers.php [NC,L]
RewriteRule ^mi-list  list-new.php [NC,L]
RewriteRule ^list-manage  list-manage.php [NC,L]

RewriteRule ^survey-manage  survey-manage.php [NC,L]
RewriteRule ^survey-delete  survey-delete.php [NC,L]
RewriteRule ^appointments-manage  appointments-manage.php [NC,L]
RewriteRule ^appointments-delete  appointment-delete.php [NC,L]
RewriteRule ^slot-manage  slot-manage.php [NC,L]
RewriteRule ^slot-new  slot-add.php [NC,L]
RewriteRule ^slot-update  slot-update.php [NC,L]
RewriteRule ^slot-delete  slot-delete.php [NC,L]
RewriteRule ^registration-manage  registration-manage.php [NC,L]
RewriteRule ^registration-new  registration-add.php [NC,L]
RewriteRule ^registration-update  registration-update.php [NC,L]
RewriteRule ^registration-delete  registration-delete.php [NC,L]

RewriteRule ^list-1  list-update.php [NC,L]
RewriteRule ^list-2  list-delete.php [NC,L]
RewriteRule ^list-3  contact-social.php [NC,L]
RewriteRule ^list-4  gallery-manage.php [NC,L]
RewriteRule ^list-5  contact-update.php [NC,L]
RewriteRule ^list-6  gallery-change.php [NC,L]
RewriteRule ^list-7  gallery-upload.php [NC,L]


RewriteRule ^account-settings  account-setting.php [NC,L]
RewriteRule ^users-manage  users-manage.php [NC,L]
RewriteRule ^pages-manage  pages-manages.php [NC,L]
RewriteRule ^pages-content  pages-content.php [NC,L]
RewriteRule ^change-password  change-password.php [NC,L]
RewriteRule ^general-info  change-general.php [NC,L]

RewriteRule ^quill-photos  quill.photos.manage.php [NC,L]


